<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head th:replace="~{parts/common :: html_head()}"></head>
<body id="addUser">
  <div class="text-center mt-4">
    <h1 class="h4">eラーニング受講時間自己管理Webシステム</h1>
    <h2 class="h5 mt-4">利用者登録</h2>
    <th:block th:object="${user}">
      <p th:errors="*{name}" class="error"></p>
      <p th:errors="*{loginId}" class="error"></p>
      <p th:errors="*{loginPass}" class="error"></p>
      <div th:if="${#fields.hasGlobalErrors()}">
        <p class="error" th:each="error : ${#fields.globalErrors()}" th:text="${error}"></p>
      </div>
    </th:block>
    <form class="form" action="" method="post" th:object="${user}">
      <p class="mt-2">
        <input type="text" th:field="*{name}" placeholder="氏名">
      </p>
      <p class="mt-2">
        <input type="text" th:field="*{loginId}" placeholder="ログインID">
      </p>
      <p class="mt-2">
        <input type="text" th:field="*{loginPass}" placeholder="パスワード">
      </p>
      <p class="mt-2">
        利用者種別：<select th:field="*{typeId}">
          <option th:each="type : ${userType}" th:value="${type.id}">[[${type.name}]]</option>
        </select>
      </p>
      <p class="mt-2">
        <input class="btn btn-primary" type="submit" value="登録">
      </p>
      <a th:href="@{/}" class="btn btn-light">キャンセル</a>
    </form>
  </div>
<th:block th:replace="~{parts/common :: javascripts()}"></th:block>
</body>
</html>