<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head th:replace="~{parts/common :: html_head()}"></head>
<body id="editUserDone">
<header th:replace="~{parts/widget :: header()}"></header>
  <div class="text-center mt-4">
    <h2 class="h5 mt-4">利用者編集</h2>
      <div class="alert alert-success">
        以下の利用者を更新しました。
      </div>
      <form class="form" action="" method="post" th:object="${userForm}">
        <p class="mt-2">
          氏　　名　：<input type="text" th:field="*{name}" disabled>
        </p>
        <p class="mt-2">
          ログインID：<input type="text" th:field="*{loginId}" disabled>
        </p>
        <p class="mt-2">
          パスワード：<input type="text" th:field="*{loginPass}" disabled>
        </p>
        <p class="mt-2">
          利用者種別：<input type="text" th:field="${userType.name}" disabled>
        </p>
        <a th:href="@{/learning/list}" class="btn btn-light">戻る</a>
      </form>
  </div>
<th:block th:replace="~{parts/common :: javascripts()}"></th:block>
</body>
</html>