<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head th:replace="~{parts/common :: html_head()}"></head>
<body id="endLearning">
<header th:replace="~{parts/widget :: header()}"></header>
<div class="col-md-12">
  <div class="text-center mt-4">
    <h1 class="mt-4 h5">受講終了</h1>
    <th:block th:object="${learningHours}">
      <div th:if="${#fields.hasGlobalErrors()}">
        <p class="error" th:each="error : ${#fields.globalErrors()}" th:text="${error}"></p>
      </div>
    </th:block>
    <div class="col-md-12">
      <form class="form" action="" method="post" th:object="${learningHours}">
        <div class="form-group">
          <input type="datetime-local" th:field="*{dateTimeForDisplay}" />
        </div>
        <input class="btn btn-primary" type="submit" value="登録">
      </form>
    </div>
  </div>
</div>
<th:block th:replace="~{parts/common :: javascripts()}"></th:block>
</body>
</html>