<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head th:replace="~{parts/common :: html_head()}"></head>
<body id="startLearning">
<header th:replace="~{parts/widget :: header()}"></header>
<div class="col-md-12">
  <h1 class="my-4 h5">受講時間一覧</h1>
  <table class="table table-bordered">
    <tr>
      <th>受講年月日</th>
      <th>開始時間</th>
      <th>終了時間</th>
      <th>受講時間</th>
      <th>削除</th>
    </tr>
    <tr th:each="lrngList : ${learningList}">
      <td>[[${lrngList.dateTimeForDisplay}]]</td>
      <td>[[${lrngList.startTime}]]<!--/* TODO 編集ボタンを追加 */--></td>
      <td>[[${lrngList.endTime}]]<!--/* TODO 編集ボタンを追加 */--></td>
      <td>[[${lrngList.learntingTime}]]</td>
      <td><a th:href="@{/learning/delete/{listId}(listId=${lrngList.id})}" class="btn btn-danger btn-sm delete">削除</a></td>
    </tr>
  </table>
  <!--/* TODO ページネーションを追加 */-->
</div>
<th:block th:replace="~{parts/common :: javascripts()}"></th:block>
</body>
</html>