<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head th:replace="~{parts/common :: html_head()}"></head>
<body id="login">
  <div class="text-center mt-4">
    <h1 class="h4">eラーニング受講時間自己管理Webシステム</h1>
    <h2 class="h5 mt-4">ログイン</h2>
    <th:block th:object="${user}">
      <p th:errors="*{name}" class="error"></p>
      <p th:errors="*{loginId}" class="error"></p>
      <p th:errors="*{loginPass}" class="error"></p>
      <div th:if="${#fields.hasGlobalErrors()}">
        <p class="error" th:each="error : ${#fields.globalErrors()}" th:text="${error}"></p>
      </div>
    </th:block>
    <form class="mt-4" action="" method="post" th:object="${user}">
      <p class="mt-2">
        <input type="text" th:field="*{loginId}" placeholder="ログインID" />
      </p>
      <p>
        <input type="password" th:field="*{loginPass}" placeholder="パスワード" />
      </p>
      <input type="submit" class="btn btn-primary" value="ログイン" />
      <p class="mt-4">
        <a th:href="@{/user/add}" class="btn btn-light">はじめての方はこちらから登録</a>
      </p>
    </form>
  </div>
<th:block th:replace="~{parts/common :: javascripts()}"></th:block>
</body>
</html>
