<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
<title>eラーニング受講時間自己管理Webシステム</title>
</head>
<body id="loginPage">
  <div class="text-center mt-4">
    <h1 class="h4">eラーニング受講時間自己管理Webシステム</h1>
    <h2 class="h5 mt-4">ログイン</h2>
      <div th:if="${statusMessage}" class="alert alert-danger">
        <!--/* ログインIDまたはパスワードが正しくありません。 */-->
        [[${statusMessage}]]
      </div>
      <form class="mt-4" action="" method="post" th:object="${user}">
        <p class="mt-2">
          <input type="text" th:field="*{loginId}" placeholder="ログインID" />
        </p>
        <p>
          <input type="password" th:field="*{loginPass}" placeholder="パスワード" />
        </p>
        <input type="submit" class="btn btn-primary" value="ログイン" />
        <p class="mt-4">
          <a th:href="@{/user/add}" class="btn btn-light">はじめての方はこちらから登録</a>
        </p>
      </form>
  </div>
  <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
