<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head th:replace="~{parts/common :: html_head()}"></head>
<body id="addUserDone">
  <div class="text-center mt-4">
    <h1 class="h4">eラーニング受講時間自己管理Webシステム</h1>
    <h2 class="h5 mt-4">ログアウト</h2>
      <div class="alert alert-success">
        ログアウトしました。
      </div>
      <form class="form" action="" method="post">
        <a th:href="@{/}" class="btn btn-light">ログイン画面に戻る</a>
      </form>
  </div>
<th:block th:replace="~{parts/common :: javascripts()}"></th:block>
</body>
</html>