<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<header th:fragment="header()">
  <nav class="navbar navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="">eラーニング受講時間自己管理Webシステム</a>
      <div class="dropdown">
        <a class="text-light nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          [[${userName}]]
        </a>
        <span class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" th:href="@{/learning/start}">受講開始</a>
          <a class="dropdown-item" th:href="@{/learning/end}">受講終了</a>
          <a class="dropdown-item" th:href="@{/learning/list}">受講一覧</a>
          <a class="dropdown-item" th:href="@{/user/edit}">利用者編集</a>
          <a class="dropdown-item" th:href="@{/logout}">ログアウト</a>
        </span>
      </div>
    </div>
  </nav>
</header>

<th:block th:fragment="pagination(totalPages, page, baseUrl)" th:if="${totalPages >= 2}">
  <ul class="pagination"><!--/* 2ページ以上の場合、ページネーションを表示 */-->
    <!--/* 前のページへ */-->
    <th:block th:switch="${page}">
      <li th:case="1" class="page-item disabled">
        <a class="page-link" href="">&lsaquo;</a>
      </li>
      <li th:case="*" class="page-item">
        <a class="page-link" th:href="@{${baseUrl}(page=${page - 1})}">&lsaquo;</a>
      </li>
    </th:block>
    <!--/* ページ番号 */-->
    <th:block th:each="index : ${#numbers.sequence(1, totalPages)}">
    <th:block th:switch="${index}">
        <li th:case="${page}" class="page-item active">
          <a class="page-link" href="">[[${index}]]</a>
        </li>
        <li th:case="*" class="page-item">
          <a class="page-link" th:href="@{${baseUrl}(page=${index})}">[[${index}]]</a>
        </li>
      </th:block>
    </th:block>
    <!--/* 次のページへ */-->
    <th:block th:switch="${page}">
      <li th:case="${totalPages}" class="page-item disabled">
        <a class="page-link" href="">&rsaquo;</a>
      </li>
      <li th:case="*" class="page-item">
        <a class="page-link" th:href="@{${baseUrl}(page=${page + 1})}">&rsaquo;</a>
      </li>
    </th:block>
  </ul>
</th:block>

</body>
</html>